doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Guillaume Normand')

        title Guiguide Website

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Responsive navbar
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='#page-top')    Guiguide Website
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.active(aria-current='page', href='#webapp') WebApps
                        li.nav-item
                            a.nav-link(href='#about') About me


        // Content section
        section.py-5
            .container.my-5
                .row.justify-content-center
                    .col-lg-6
                        h2 WebApps
                        ul
                            li
                                a(href="bio_endemics/") Get the list of all bio-endemics you checked on ebird
                            li
                                a(href="lista_roja_ecuador/") Get the red list of the Ecuadorian birds
                            li
                                a(href="cero_report/") Map of the last CERO report rare sightings
                            li
                                a(href="https://zoziologie.raphaelnussbaumer.com/global-rare-ebird/?mode=r&r=EC&t=2&c=1") Rare birds in Ecuador. I contributed (very little) to that awesome app, thanks again Raphaël for your work.
                        
                        h2 For the French website "Faune-France"
                        ul
                            li
                                a(href="faune_proche") Trouvez les obs de Faune-France proche de chez vous
        // Content section
        section.py-5
            .container.my-5
                .row.justify-content-center
                    .col-lg-6
                        h2 About me
                        p 
                            img(src='assets/favicon.ico') 
                        p.lead My name is Guillaume and I'm a Python engineer and a bird watcher. I'm constructing some webapps to have access bird informations easier. I saw Raphaël Nussbaumer work and decided to use it for Ecuadorian birders. 
                        
                        ul
                            li 
                                a(href='https://github.com/g-normand/') Github
                            li 
                                a(href='https://ebird.org/profile/MTk3MzExNA/world') ebird
                            li 
                                a(href='https://www.inaturalist.org/people/gnormand') inaturalist

        footer.py-5.bg-dark
            .container
                p.m-0.text-center.text-white Copyright &copy; Guiguide 2023 - 2025
            
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
